<style>
#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}
</style>

<div id="navcontainer">
<ul id="navlist">
  <li id="active" id="current" role="presentation"><a ui-sref='home'>Home</a></li>
  <li role="presentation"><a ui-sref='horses'>Horses</a></li>
  <li role="presentation"><a ui-sref='brownhorse'>brownhorse</a></li>
  <li role="presentation"><a ui-sref='spottedhorse'>spottedhorse</a></li>
  <li role="presentation"><a ui-sref='blackhorse'>blackhorse</a></li>
  
  <li role="presentation"><a ui-sref='whitefeet.alt'>whitefeet</a></li>
  <li role="presentation"><a ui-sref='alt.whitehorse'>whitehorse</a></li>
  

</ul>
		
